*{
    
    margin:5px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

body{

    background-image: url('img/cruce5.jpg');
    background-size: 100%;
    background-position: cover;
}

.contenedor-primera-fila{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.casilla-uno{
    border: 2px solid white;
        font-size: 13px;
        padding-bottom: 4px;
        text-align: center;
        width: 150px;
        height: 40px;
        color: white;
        background-image: url('img/cruce5.jpg');
        background-size: 100%;
    }





.casilla-dos{
    font-size: 13px;
    border: 2px solid white;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;

}

.casilla-tres{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-cuatro{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-cinco{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-seis{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-siete{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-ocho{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 1px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-nueve{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-diez{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
            text-align: center;
        width: 150px;
        height: 40px;
        color: white;
        background-image: url('img/cruce5.jpg');
        background-size: 100%;
}

.casilla-once{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-doce{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-trece{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-catorce{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-quince{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 4px;
        text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

.casilla-diesiseis{
    border: 2px solid white;
    font-size: 13px;
    padding-bottom: 1px;
    text-align: center;
    width: 150px;
    height: 40px;
    margin-top: 0px;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
}

/*++++++++++++++++++ CUARTOS DE FINAL +++++++++++++++++++++++++++++++++*/

.contenedor-ganador-uno-dos{
display: flex;
width: 100%;
justify-content: space-between;

}



.casilla-ganadorcuartos textarea{
    background-color: red;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
    text-align: center;
    border: 2px solid white;
    width: 150px;
    height: 40px;   
    margin-top: 15px;
    margin-left: -10px;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*++++++++++++++++++ SEMIFINAL +++++++++++++++++++++++++++++++++*/

.contenedor-semifinal{
    display: flex;
    width: 100%;
    justify-content: space-between;
padding-left: 210px;  
margin-bottom: -50px;
}



.contenedor-semifinal2{
    display: flex;
    width: 100%;
    justify-content: space-between;
margin-top: -50px;
padding-left: 50px;
}


.casilla-semifinal textarea,
.casilla-semifinal2 textarea
{
    background-color: red;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
    text-align: center;
    border: 2px solid white;
    width: 150px;
    height: 40px;   
    margin-top: 1px;
    margin-left: -10px;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*++++++++++++++++++ FINAL +++++++++++++++++++++++++++++++++*/


.contenedor-final{
margin-top: auto;   
 display: flex;
 flex-direction: column;
 gap: 10px;
 margin-top: 30px;
 margin-bottom: -150px;
 padding-left: 400px;
padding-bottom: 70px;
}



.casilla-final textarea
{
    background-color: red;
    color: white;
    background-image: url('img/cruce5.jpg');
    background-size: 100%;
    text-align: center;
    border: 2px solid white;
    width: 150px;
    height: 40px;   
    margin-top: 1px;
    margin-left: -10px;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.regreso i{
    font-size: 50px;
    margin-left: 650px;
    color: white;
    top: 200px;
    }



